@model WebBanDienThoai.Models.TSp

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
<body>
<div class="product-create">

    <h1 class="product-new">Thêm mới sản phẩm</h1>

    <hr />
    <div class="row" style="width: 100%;">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row" style="display: flex; width: 100%;">
                <div class="form-group col-md-4">
                    <label asp-for="MaSp" class="control-label">Mã sản phẩm</label>
                    <input asp-for="MaSp" class="form-control" />
                    <span asp-validation-for="MaSp" class="text-danger"></span>
                </div>
                @* <div class="form-group col-md-4">
                <label asp-for="MaSp" class="control-label">Mã sản phẩm</label>
                <select asp-for="MaSp" class="form-control" asp-items="@ViewBag.MaSp"></select>
                </div> *@
                <div class="form-group col-md-4">
                    <label asp-for="TenSp" class="control-label">Tên sản phẩm</label>
                    <input asp-for="TenSp" class="form-control" />
                    <span asp-validation-for="TenSp" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="MaTl" class="control-label">Thể loại</label>
                    <select asp-for="MaTl" class="form-control" asp-items="@ViewBag.MaTl"></select>
                </div>
            </div>
            <div class="row" style="display: flex; width: 100%;">
                <div class="form-group col-md-4">
                    <label asp-for="MaHang" class="control-label">Mã hãng</label>
                    <select asp-for="MaHang" class="form-control" asp-items="@ViewBag.MaHang"></select>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="DonGiaNhap" class="control-label">Đơn giá nhập</label>
                    <input asp-for="DonGiaNhap" class="form-control" />
                    <span asp-validation-for="DonGiaNhap" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="DonGiaBan" class="control-label">Đơn giá bán</label>
                    <input asp-for="DonGiaBan" class="form-control" />
                    <span asp-validation-for="DonGiaBan" class="text-danger"></span>
                </div>
            </div>
            <div class="row" style="display: flex; width: 100%;">
                <div class="form-group col-md-4">
                    <label asp-for="SoLuong" class="control-label">Số lượng</label>
                    <input asp-for="SoLuong" class="form-control" />
                    <span asp-validation-for="SoLuong" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Anh" class="control-label">Ảnh</label>
                    <input asp-for="Anh" class="form-control" type="file" name="Anh" id="file" />
                    <span asp-validation-for="Anh" class="text-danger"></span>
                </div>
            </div>
            <hr />
            <div class="form-group" style="float: right;">
                <input type="submit" value="Thêm mới" class="btn btn-primary" />
            </div>
        </form>

    </div>
    <div>
        <a asp-action="Index" class="btn btn-primary">Quay lại</a>
    </div>
</div>

</body>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<style>
    .row {
        display: block;
        width: 33%;
        padding-left: 15px;
    }

    .product-new {
        font-size: 2rem;
        text-align: center;
        margin: revert-layer;
    }
    .product-create{
        border-radius: 5px;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
        padding: 15px;
        background-color: white;
    }
    .btn.btn-primary{
        margin-bottom: 15px;
    }
</style>