@model WebBanDienThoai.Models.THang

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<h2>Thêm mới</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaHang" class="control-label"></label>
                <input asp-for="MaHang" class="form-control" />
                <span asp-validation-for="MaHang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenHang" class="control-label"></label>
                <input asp-for="TenHang" class="form-control" />
                <span asp-validation-for="TenHang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm mới" class="btn btn-primary" />
            </div>
        </form>
    </div>
  
</div>

