@model WebBanDienThoai.Models.TChiTietHdn

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}



<h3>Tạo chi tiết hóa đơn nhập</h3>
<hr />
<form asp-action="Create">
    <div class="row">

        <div class="col-md-12">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SoHdn" class="control-label">Số hóa đơn</label>
                <select asp-for="SoHdn" class="form-control" asp-items="ViewBag.SoHDN"></select>
            </div>
            <div class="form-group">
                <label asp-for="MaSp" class="control-label">Sản phẩm</label>
                <input asp-for="MaSp" class="form-control" />
                <span asp-validation-for="MaSp" class="text-danger"></span>
            </div>


        </div>


        <div class="col-md-12">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Slnhap" class="control-label">Số lượng</label>
                <input asp-for="Slnhap" class="form-control" />
                <span asp-validation-for="Slnhap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KhuyenMai" class="control-label">Khuyến mãi</label>
                <input asp-for="KhuyenMai" class="form-control" />
                <span asp-validation-for="KhuyenMai" class="text-danger"></span>
            </div>
        </div>

        <hr />
        <div class="col-md-6">
            <div class="form-group">
                <input type="submit" value="Create" class="create btn btn-primary" />
            </div>
        </div>
    </div>
</form>


<div>

    @Html.ActionLink("Quay lại", "Index", "TChiTietHdns", new { id = ViewBag.HDN})
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<style>
    .btn {
        float: left;
        margin-left: 15px;
    }

    .invoiceOut-list {
        margin-top: revert-layer;
        text-align: center;
        font-size: 2rem;
    }

    .create {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .add {
        margin-bottom: 1rem;
    }
</style>
