@model WebBanDienThoai.Models.TChiTietHdn

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<h1>Create</h1>

<h4>TChiTietHdn</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SoHdn" class="control-label"></label>
                <input asp-for="SoHdn" class="form-control" />
                <span asp-validation-for="SoHdn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaSp" class="control-label"></label>
                <input asp-for="MaSp" class="form-control" />
                <span asp-validation-for="MaSp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Slnhap" class="control-label"></label>
                <input asp-for="Slnhap" class="form-control" />
                <span asp-validation-for="Slnhap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KhuyenMai" class="control-label"></label>
                <input asp-for="KhuyenMai" class="form-control" />
                <span asp-validation-for="KhuyenMai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

